<form ng-submit="addProp(propType)" class="form-inline text-right">
  <input ng-model="propName" type="text" class="form-control form-control-sm" placeholder="Nom du champ" style="width: 240px;">
  <select ng-model="propType" class="form-control form-control-sm">
    <option value="string">Texte</option>
    <option value="number">Nombre</option>
    <option value="bool">Booléen</option>
    <option value="array">Tableau</option>
    <option value="object">Objet</option>
  </select>
  <button type="submit" class="invisible">ok</button>
</form>
